:root {
  --snake-node-size: 15px;
  --snake-null-color: rgb(0, 0, 0);
  --snake-food-color: rgb(241, 185, 185);
  --snake-body-color: rgb(72, 230, 51);
  --snake-body-outline: 1px solid;
}

.snakeNode-null,
.snakeNode-food,
.snakeNode-snake {
  width: var(--snake-node-size);
  height: var(--snake-node-size);
  display: inline-block;
}

.snakeNode-null {
  background-color: var(--snake-null-color);
}

.snakeNode-food {
  background-color: var(--snake-food-color);
}

.snakeNode-snake {
  background-color: var(--snake-body-color);
  outline: var(--snake-body-outline);
}
