.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 2rem;
  min-height: 100vh;

  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);

  /* Optional: restrict max width for better layout */
  max-width: 900px;
  margin: 0 auto; /* horizontal centering if body layout changes */
}
